.emailForm {
  position: relative;
}

.formFeedbackDiv {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.feedbackText {
  margin: 0 !important;
  font-size: 1rem !important;
}

.error {
  color: firebrick;
}

.subscribeSuccess {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}