.images {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
  text-align: center;

  &[data-device="desktop"] {
    height: 666px;
  }
  &[data-device="tablet"] {
    height: 417px;
  }
  &[data-device="mobile"] {
    height: 546px;
  }
}

.imgBgContainer {
  position: absolute;
  z-index: 1;
}

.imgContainer {
  position: absolute;
  top: 0;
  transition: transform 1s ease, opacity .3s;

  &[data-imgorder="1"] {
    z-index: 0;
    opacity: .4;
  }

  &[data-imgorder="2"] {
    z-index: 2;
    opacity: 1;
  }

  &[data-imgorder="3"] {
    z-index: 3;
    opacity: .4;
  }


  &[data-device="desktop"] {
    &[data-imgorder="1"] {
      transform: translateX(-450px);
    }
    &[data-imgorder="2"] {
      transform: translateX(0px);
    }
    &[data-imgorder="3"] {
      transform: translateX(450px);
    }
  }
  &[data-device="tablet"] {
    &[data-imgorder="1"] {
      transform: translateX(-210px);
    }
    &[data-imgorder="2"] {
      transform: translateX(0px);
    }
    &[data-imgorder="3"] {
      transform: translateX(210px);
    }
  }
  &[data-device="mobile"] {
    opacity: 0;
    transition: opacity .3s ease-in;
    &[data-imgorder="2"] {
      opacity: 1;
    }
  }
}