.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:  "map"
                        "cards"
                        "socials";
}

.mapContainer {
  grid-area: map;
}

.cardContainer {
  grid-area: cards;
}

.socialsContainer {
  grid-area: socials;
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}

.card1, .card2 {
  margin-top: 3rem;
}


@media (width >= 992px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "map cards"
                          "map socials";
    gap: 5rem;
  }

  .card1 {
    margin-top: 0;
  }

  .socialsContainer {
    margin-top: 0;
  }
}