@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --fs-d1: 5rem;
  --fs-d2: 4.5rem;
  --fs-d3: 4rem;
  --fs-d4: 3.5rem;
  --fs-d5: 3rem;
  --fs-d6: 2.625rem;
  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-h5: 1.25rem;
  --fs-h6: 1rem;
  --fs-body-l: 1.125rem;
  --fs-body-m: 1rem;
  --fs-body-s: .875rem;
  --fs-hero-headline-mobile: 2.125rem;
  --fs-hero-headline-tablet: 2.75rem;
  --fs-hero-headline-desktop: var(--fs-d4);
  --fw-extra: 800;
  --fw-bold: 700;
  --fw-semi: 600;
  --fw-reg: 400;
}

:root {
  --color-primary: hsl(239, 84%, 67%);
  --color-white: hsl(0, 0%, 100%);
  --color-gray-100: hsl(225, 100%, 98%);
  --color-gray-200: hsl(226, 68%, 96%);
  --color-gray-300: hsl(228, 35%, 92%);
  --color-gray-400: hsl(229, 25%, 86%);
  --color-gray-500: hsl(231, 16%, 75%);
  --color-gray-600: hsl(231, 14%, 63%);
  --color-gray-700: hsl(234, 14%, 39%);
  --color-gray-800: hsl(235, 20%, 25%);
  --color-gray-900: hsl(223, 39%, 7%);
  --color-bg-white: var(--color-white);
  --color-bg-dark: var(--color-gray-900);
  --color-paragraph-whitebg: var(--color-gray-700);
  --color-paragraph-darkbg: rgba(255, 255, 255, 70%);
  --color-heading-darkbg: var(--color-white);
  --color-heading-whitebg: var(--color-gray-900);
  --color-navlink-whitebg: var(--color-gray-800);
  --color-navlink-darkbg: hsl(from var(--color-white) h s calc(l - 15));
  --color-bg-dlbtn-whitebg: var(--color-gray-900);
  --color-bg-dlbtn-darkbg: var(--color-gray-200);
  --color-chevronbg-whitebg: var(--color-white);
  --color-chevronbg-darkbg: #222032;
  --color-chevronarrow-whitebg: var(--color-gray-800);
  --color-chevronarrow-darkbg: var(--color-white);
  --color-brandlogo-border-whitebg: var(--color-gray-300);
  --color-brandlogo-border-darkbg: rgba(255, 255, 255, 15%);
  --color-brandlogo-bg-darkbg-tablet: #131022;
  --color-brandlogo-bg-darkbg-desktop: var(--color-gray-900);
  --color-features-body: hsl(0, 0%, 30%);
  --color-feature-cards-img-bg-bgwhite: var(--color-gray-100);
  --color-feature-cards-img-bg-bgdark: #171B25;
  --color-how-bg-white: var(--color-gray-100);
  --color-how-bg-dark: #151822;
  --color-reviewsbg-whitebg: var(--color-gray-100);
  --color-reviewsbg-darkbg: #151822;
  --color-reviewbg-whitebg: var(--color-white);
  --color-reviewbg-darkbg: #1E212B;
  --color-reviewrole-whitebg: var(--color-gray-600);
  --color-reviewrole-darkbg: #8E9095;
  --color-faqbg-whitebg: var(--color-bg-white);
  --color-faqbg-darkbg: #151822;
  --color-faqbg-darkbg-mobile: #131022;
  --color-faqoutline-whitebg: #e2e5f1;
  --color-faqoutline-darkbg: #363443;
  --color-faqchevronbg-whitebg: var(--color-gray-100);
  --color-faqchevronbg-darkbg: #1E212B;
  --color-faqchevronarrow-whitebg: var(--color-gray-800);
  --color-faqchevronarrow-darkbg: var(--color-white);
  --color-subscribebg-whitebg: var(--color-gray-100);
  --color-subscribebg-darkbg: var(--color-faqbg-darkbg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, input, button, textarea, select {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--fw-reg);
  font-style: normal;
  font-size: var(--fs-body-m);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--fw-extra);
  line-height: 1.3;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
}

p, span {
  color: var(--color-paragraph);
}

/* Increase focus visibility */
*:focus-visible {
  outline-color: var(--color-primary);
  outline-offset: 0.2em;
  outline-width: 0.4em;
  outline-style: solid;
}

/* On summary elements, put outline on inside */
summary:focus-visible {
  outline-offset: -0.4em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.wrapper {
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-inline: 0.75rem;
}
@media (576px <= width) {
  .wrapper {
    max-width: 540px;
  }
}
@media (768px <= width) {
  .wrapper {
    max-width: 720px;
    padding-inline: 1rem;
  }
}
@media (992px <= width) {
  .wrapper {
    max-width: 960px;
    padding-inline: 2rem;
  }
}
@media (1200px <= width) {
  .wrapper {
    max-width: 1140px;
    padding-inline: 4rem;
  }
}
@media (1400px <= width) {
  .wrapper {
    max-width: 1320px;
    padding-inline: 0;
  }
}

.themewrapper {
  background-color: var(--color-bg);
  transition: var(--transition-theme);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tac {
  text-align: center;
}

header#nav {
  /* Bring header out of the flow in order for it to
  ** be placed on top of hero section and share its gradient */
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* Make sure burger-menu is above everything else */
  z-index: 1000;
  transition: 0.5s ease;
}
@media (width >= 1400px) {
  header#nav {
    -webkit-backdrop-filter: unset !important;
            backdrop-filter: unset !important;
    background-color: unset !important;
  }
}

.navbar-links {
  margin-left: 3rem;
}
.navbar-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.navbar-links li {
  margin-right: 2rem;
}

.main-navbar {
  justify-content: space-between;
  padding-top: 0.75rem;
  /* Hide in mobile */
  /* Remove extra pixels on bottom of logo image */
}
@media (width >= 768px) {
  .main-navbar {
    padding-top: 1.5rem;
  }
}
@media (width >= 1400px) {
  .main-navbar {
    padding-top: 1rem;
  }
}
.main-navbar #navbar-links, .main-navbar .btn-signin {
  display: none;
}
@media (width >= 1400px) {
  .main-navbar #navbar-links, .main-navbar .btn-signin {
    display: flex;
  }
}
.main-navbar .logo-img {
  vertical-align: bottom;
}
.main-navbar .navbar-right {
  position: relative;
}
.main-navbar .dm-text {
  font-size: var(--fs-body-m);
  font-weight: var(--fw-semi);
  color: var(--color-gray-700);
  margin-right: 1rem;
  /* Hide on mobile */
  display: none;
}
@media (width >= 768px) {
  .main-navbar .dm-text {
    display: block;
  }
}
.main-navbar .btn-signin {
  margin-left: 2rem;
}
@media (width >= 1400px) {
  .main-navbar #burger-toggle {
    display: none;
  }
}

/* When visually hidden checkbox is in focus, put outline on toggle switch */
body:has(.darkmode-checkboxes:focus-visible) .dm-toggle-switch {
  outline-color: var(--color-primary);
  outline-offset: 0.2em;
  outline-width: 0.4em;
  outline-style: solid;
}

/* Apply outline to burgermenubtn when checkbox is focused */
header#nav:has(#burger-toggle:focus-visible) .btn-burger {
  outline-color: var(--color-primary);
  outline-offset: 0.2em;
  outline-width: 0.4em;
  outline-style: solid;
}

header#nav:has(#burger-toggle:checked) {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: var(--color-bg);
}
header#nav:has(#burger-toggle:checked) .burger-menu-open {
  display: none;
}
header#nav:has(#burger-toggle:checked) .burger-menu-close {
  display: block;
}
header#nav:has(#burger-toggle:checked) .burger-menu {
  grid-template-rows: 1fr;
  box-shadow: 0 25px 15px var(--color-bg);
}
header#nav:has(#burger-toggle:checked) .burger-nav.reveal-aria {
  display: block;
}
header#nav:has(#burger-toggle:checked) .burger-nav.hide-aria {
  display: none;
}

section#hero {
  /* Add padding to give room for navbar */
  padding-top: 4rem;
  background: rgb(99, 102, 241);
  background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "hero-headline" "hero-content";
  /* Hide in mobile */
}
@media (width >= 768px) {
  .hero-container {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "hero-headline hero-headline" "hero-content hero-images";
    gap: 2rem 0rem;
  }
}
@media (width >= 1400px) {
  .hero-container {
    align-items: start;
    height: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hero-headline hero-images" "hero-content hero-images";
    gap: 0rem;
  }
}
.hero-container .paragraph-splitter, .hero-container .hero-images {
  display: none;
}
.hero-container .headline {
  grid-area: hero-headline;
  text-align: center;
  font-size: var(--fs-hero-headline-mobile);
  margin-top: 1.5rem;
}
@media (width >= 768px) {
  .hero-container .headline {
    font-size: var(--fs-hero-headline-tablet);
    margin-top: 4.5rem;
  }
}
@media (width >= 1400px) {
  .hero-container .headline {
    font-size: var(--fs-hero-headline-desktop);
    margin-top: 9rem;
    text-align: left;
  }
}
.hero-container .content {
  grid-area: hero-content;
  text-align: center;
  margin-top: 2rem;
}
@media (width >= 768px) {
  .hero-container .content {
    text-align: left;
  }
}
@media (width >= 1400px) {
  .hero-container .content {
    margin-top: 0;
  }
}
.hero-container .pitch {
  font-size: var(--fs-body-l);
  line-height: 1.6;
}
@media (width >= 768px) {
  .hero-container .pitch .paragraph-splitter {
    display: block;
  }
}
.hero-container .dlbuttons {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}
@media (width >= 768px) {
  .hero-container .dlbuttons {
    margin-top: 3rem;
  }
}
@media (width >= 1400px) {
  .hero-container .dlbuttons {
    flex-direction: row;
  }
}
.hero-container .discover-more-container {
  display: flex;
  justify-content: center;
}
@media (width >= 768px) {
  .hero-container .discover-more-container {
    justify-content: left;
  }
}
.hero-container .discover-more {
  display: flex;
  align-items: center;
  font-size: var(--fs-body-s);
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  gap: 1rem;
}
@media (width >= 1400px) {
  .hero-container .discover-more {
    margin-top: 15rem;
  }
}
.hero-container .chevron-discovermore {
  background-color: var(--color-chevronbg);
  color: var(--color-chevronarrow);
  width: 44px;
  height: 44px;
  font-size: 0.75rem;
}
.hero-container .hero-images {
  grid-area: hero-images;
  align-self: end;
  justify-self: right;
  position: relative;
}
@media (width >= 768px) {
  .hero-container .hero-images {
    display: block;
  }
  .hero-container .hero-images .desktop {
    display: none;
  }
}
@media (width >= 1400px) {
  .hero-container .hero-images .tablet {
    display: none;
  }
  .hero-container .hero-images .desktop {
    display: block;
  }
}
.hero-container .hero-images .hero-img-shadow {
  position: absolute;
  bottom: 0;
  right: 200px;
  z-index: 5;
}
@media (width >= 1400px) {
  .hero-container .hero-images .hero-img-shadow {
    bottom: 0;
    right: 425px;
  }
}
.hero-container .hero-images .hero-img-back {
  position: absolute;
  bottom: 0;
  right: 142px;
  z-index: 10;
}
@media (width >= 1400px) {
  .hero-container .hero-images .hero-img-back {
    bottom: 0;
    right: 235px;
  }
}
.hero-container .hero-images .hero-img-front {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 15;
}
@media (width >= 1400px) {
  .hero-container .hero-images .hero-img-front {
    right: 0;
    bottom: 0;
  }
}

.features-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1rem;
  /* Hide on mobile */
}
@media (width >= 768px) {
  .features-container {
    margin-bottom: 7rem;
  }
}
@media (width >= 1400px) {
  .features-container {
    margin-bottom: 14rem;
  }
}
.features-container h2, .features-container h3 {
  font-weight: var(--fw-extra);
}
.features-container .brandlogo-container {
  /* Hide on mobile */
  display: none;
  justify-content: space-between;
  align-content: center;
  margin-top: 3rem;
}
.features-container .brandlogo-container .desktop-only {
  display: none;
}
@media (width >= 1400px) {
  .features-container .brandlogo-container .desktop-only {
    display: flex;
  }
}
@media (width >= 768px) {
  .features-container .brandlogo-container {
    display: flex;
  }
}
@media (width >= 1400px) {
  .features-container .brandlogo-container {
    margin-top: 6rem;
  }
}
.features-container .headline, .features-container .paragraph {
  text-align: center;
}
@media (width >= 1400px) {
  .features-container .headline, .features-container .paragraph {
    text-align: left;
  }
}
.features-container .headline {
  margin-top: 2.5rem;
  font-size: var(--fs-h3);
  line-height: 1.3;
}
@media (width >= 768px) {
  .features-container .headline {
    margin-top: 4rem;
    font-size: var(--fs-h2);
    line-height: 1.3;
  }
}
@media (width >= 1400px) {
  .features-container .headline {
    margin-top: 0;
    font-size: var(--fs-h1);
    line-height: 1.3;
  }
}
@media (width >= 1400px) {
  .features-container .content-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 7rem;
    gap: 8rem;
  }
}
.features-container .paragraph {
  margin-top: 1.5rem;
  font-size: var(--fs-body-l);
  line-height: 1.6;
}
@media (width >= 1400px) {
  .features-container .paragraph {
    margin-top: 0.75rem;
  }
}
.features-container .left-content {
  display: none;
  /* Set height equal to height of image,
  ** to prevent overflow due to position: absolute */
  height: 683px;
}
@media (width >= 1400px) {
  .features-container .left-content {
    display: block;
    position: relative;
  }
  .features-container .left-content .phone-img {
    position: absolute;
  }
  .features-container .left-content .card-img {
    position: absolute;
    top: 90px;
    left: 25px;
  }
}
.features-container .right-content {
  display: grid;
  grid-template-columns: 1fr;
}
@media (width >= 1400px) {
  .features-container .right-content {
    grid-template-rows: min-content min-content auto;
  }
}
.features-container .feature-cards {
  margin-top: 2rem;
}
@media (width >= 768px) {
  .features-container .feature-cards .card {
    margin-bottom: 0;
  }
}
@media (width >= 768px) {
  .features-container .feature-cards {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 2rem;
  }
}
@media (width >= 1400px) {
  .features-container .feature-cards {
    gap: 3rem;
    margin-top: 4.5rem;
  }
}

section#how {
  background-color: var(--color-how-bg);
}

.how-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.how-container .tablet, .how-container .desktop {
  display: none;
}
@media (width >= 768px) {
  .how-container .mobile, .how-container .desktop {
    display: none;
  }
  .how-container .tablet {
    display: block;
  }
}
@media (width >= 1400px) {
  .how-container .mobile, .how-container .tablet {
    display: none;
  }
  .how-container .desktop {
    display: block;
  }
}
.how-container h2 {
  font-size: 1.75rem;
  margin-top: 4rem;
}
@media (width >= 768px) {
  .how-container h2 {
    font-size: 2.125rem;
  }
}
@media (width >= 1400px) {
  .how-container h2 {
    margin-top: 5rem;
    font-size: var(--fs-h1);
    line-height: 1.3;
  }
}
.how-container .images-container {
  display: flex;
  margin-top: 2rem;
}
.how-container .images-container img {
  max-width: 100%;
}
@media (width >= 768px) {
  .how-container .images-container {
    margin-top: 3rem;
    /* Increase spacing between images as container grows in width */
    width: 100%;
    max-width: 900px;
  }
  .how-container .images-container .mobile.img, .how-container .images-container .desktop.img {
    display: none;
  }
  .how-container .images-container .tablet.img {
    display: block;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .how-container .images-container .img.left {
    text-align: right;
  }
  .how-container .images-container .img.right {
    text-align: left;
  }
}
@media (width >= 1400px) {
  .how-container .images-container {
    /* Increase spacing between images as container grows in width */
    max-width: unset;
  }
  .how-container .images-container .mobile.img, .how-container .images-container .tablet.img {
    display: none;
  }
  .how-container .images-container .desktop.img {
    display: block;
    flex-grow: 1;
  }
  .how-container .images-container .img.left, .how-container .images-container .img.right {
    text-align: center;
  }
}
.how-container .image-description {
  margin-top: 1.5rem;
}
@media (width >= 768px) {
  .how-container .image-description {
    margin-top: 2.5rem;
    width: 65%;
    max-width: 550px;
  }
}
@media (width >= 1400px) {
  .how-container .image-description {
    width: 65%;
    max-width: 550px;
  }
}
.how-container .image-description h3 {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: var(--fw-extra);
  line-height: 1.4;
  width: 85%;
}
@media (width >= 768px) {
  .how-container .image-description h3 {
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4;
  }
}
@media (width >= 1400px) {
  .how-container .image-description h3 {
    width: 100%;
    font-size: 1.44rem;
    line-height: 1.4;
  }
}
.how-container .image-description p {
  font-size: var(--fs-body-m);
  margin-top: 1rem;
  margin-bottom: 4rem;
  /* Poor contrast, but according to design */
  color: var(--color-gray-700);
}
@media (width >= 768px) {
  .how-container .image-description p {
    line-height: 1.625;
  }
}
@media (width >= 1400px) {
  .how-container .image-description p p {
    margin-bottom: 6rem;
    line-height: 1.625;
  }
}

section#payment {
  display: none;
}
@media (width >= 1400px) {
  section#payment {
    display: block;
  }
}

.payment-container {
  margin-top: 8rem;
  margin-bottom: 8rem;
  padding-inline: 8rem;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  justify-content: start;
  align-items: center;
  gap: 8rem 4rem;
}
.payment-container h2 {
  font-size: var(--fs-h2);
  line-height: 1.3;
}
.payment-container li {
  color: var(--color-paragraph);
}
.payment-container ul {
  margin-top: 2rem;
  list-style-type: none;
}
.payment-container li {
  display: flex;
}
.payment-container li img {
  margin-right: 0.5rem;
}
.payment-container li:not(:first-child) {
  margin-top: 1rem;
}
.payment-container .cards {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}
.payment-container .card {
  flex-basis: 100%;
}
.payment-container .card p {
  margin-top: 1rem;
}
.payment-container .card-img-container {
  flex-shrink: 0; /*Prevent flex container from shrinking box below 60x60*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-feature-cards-img-bg);
  border-radius: 8px;
}
.payment-container .img-container {
  position: relative;
  flex-shrink: 0;
}
.payment-container .img-payment, .payment-container .img-transfer {
  position: absolute;
}
.payment-container .img-container.top {
  width: 470px;
  height: 452px;
}
.payment-container .img-transfer.back {
  top: 0;
  left: 0;
}
.payment-container .img-transfer.front {
  top: 335px;
  left: 210px;
}
.payment-container .img-container.bottom {
  width: 458px;
  height: 450px;
}
.payment-container .img-payment.back {
  top: 0;
  left: 0;
}
.payment-container .img-payment.front {
  top: 105px;
  left: 135px;
}

section#reviews {
  display: none;
  background-color: var(--color-reviewsbg);
}
@media (width >= 1400px) {
  section#reviews {
    display: block;
  }
}

.reviews-container {
  padding: 6rem 1.5rem 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  gap: 1.5rem;
}
.reviews-container h2 {
  font-size: var(--fs-h1); /* 40px in figma */
  font-weight: var(--fw-extra);
  line-height: 1.3;
}

.faq-contact-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (width >= 1400px) {
  .faq-contact-container {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: auto 1fr;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
    grid-template-areas: "header faq-accordion" "contact faq-accordion" "subscribe subscribe";
    align-items: start;
  }
}
@media (width >= 768px) {
  .faq-contact-container .header {
    justify-self: center;
    width: 60%;
  }
}
@media (width >= 1400px) {
  .faq-contact-container .header {
    grid-area: header;
    justify-self: left;
    width: 100%;
  }
}
.faq-contact-container .header h2 {
  margin-top: 3rem;
  font-size: var(--fs-h4);
  font-weight: var(--fw-extra);
}
@media (width >= 768px) {
  .faq-contact-container .header h2 {
    font-size: var(--fs-h2);
    line-height: 1.3;
  }
}
@media (width >= 1400px) {
  .faq-contact-container .header h2 {
    text-align: left;
  }
}
.faq-contact-container .header p {
  /* Poor contrast, but according to design */
  color: var(--color-gray-700);
}
@media (width >= 768px) {
  .faq-contact-container .header p {
    margin-top: 2rem;
  }
}
@media (width >= 1400px) {
  .faq-contact-container .header p {
    text-align: left;
  }
}
.faq-contact-container p {
  margin-top: 1rem;
  font-size: var(--fs-body-l);
  line-height: 1.6;
}
@media (width >= 1400px) {
  .faq-contact-container p {
    margin-top: 2rem;
  }
}
@media (width >= 768px) {
  .faq-contact-container .faq-accordion {
    /* Start by removing FAQ borders */
    --_faq-border: unset;
  }
  .faq-contact-container .faq-accordion details {
    box-shadow: 0px 2px 5px var(--color-faqoutline);
    border-radius: 8px;
    /* Apply margin-top to all details-elements except first one */
  }
  .faq-contact-container .faq-accordion details p:first-child {
    margin-top: 0;
  }
  .faq-contact-container .faq-accordion details:not(:first-child) {
    margin-top: 1rem;
  }
}
@media (width >= 1400px) {
  .faq-contact-container .faq-accordion {
    grid-area: faq-accordion;
  }
}
.faq-contact-container .faq-accordion p {
  font-size: var(--fs-body-s);
}
.faq-contact-container .contact {
  margin-top: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (width >= 768px) {
  .faq-contact-container .contact {
    margin-top: 2rem;
  }
}
@media (width >= 1400px) {
  .faq-contact-container .contact {
    grid-area: contact;
    margin-top: 3rem;
  }
}
.faq-contact-container .contact-cards {
  display: none;
  width: 100%;
  gap: 1.5rem;
}
.faq-contact-container .contact-cards .chat-card, .faq-contact-container .contact-cards .phone-card {
  /* Make cards take up equal width */
  flex-basis: 100%;
}
@media (width >= 768px) {
  .faq-contact-container .contact-cards {
    display: flex;
  }
}
.faq-contact-container .contact-card {
  padding: 1.5em 1.5em 2em;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
}
.faq-contact-container .contact-card a {
  font-size: var(--fs-body-s);
  line-height: 1.6;
  font-weight: var(--fw-semi);
}
@media (width >= 768px) {
  .faq-contact-container .btn-contanct {
    display: none;
  }
}
.faq-contact-container .fa-comment-dots {
  /* Flip icon horizontally to match design */
  transform: scaleX(-1);
}
.faq-contact-container .cc-icon {
  font-size: 1.75rem;
}
.faq-contact-container .phone-color {
  color: var(--color-primary);
}
.faq-contact-container .chat-color {
  color: #22C55E;
}
.faq-contact-container .card-text, .faq-contact-container a {
  font-size: var(--fs-body-s);
}
.faq-contact-container a {
  display: block;
  margin-top: 1rem;
}
.faq-contact-container a i {
  margin-left: 1rem;
}

.footer {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: var(--fs-body-s);
  line-height: 1.6;
}
@media (width >= 1400px) {
  .footer {
    padding: 3rem 0;
  }
}
.footer span {
  color: var(--color-gray-600);
}
@media (width >= 768px) {
  .footer .footer-splitter {
    display: none;
  }
}

a, .navbar-link {
  color: var(--color-primary);
  text-decoration: none;
}
@media (hover: hover) {
  a:hover, .navbar-link:hover {
    color: var(--color-primary);
  }
}
a:active, .navbar-link:active {
  color: var(--color-primary);
}

.navbar-link {
  color: var(--color-navlink);
  font-weight: var(--fw-semi);
  transition: var(--transition-default);
}

.btn-primary, .btn-contact, .btn-learn-more, .btn-signin {
  border-radius: 8px;
  border: none;
  padding: 11px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-primary span, .btn-contact span, .btn-learn-more span, .btn-signin span {
  color: white;
}
@media (hover: hover) {
  .btn-primary:hover, .btn-contact:hover, .btn-learn-more:hover, .btn-signin:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}

.btn-signin {
  width: 140px;
  height: 36px;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-semi);
  padding: 0px;
  border-radius: 4px;
}
.btn-signin .usericon {
  margin-right: 0.5rem;
}

.btn-learn-more {
  width: 160px;
  border-radius: 6px;
  margin-top: 3rem;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-semi);
  line-height: 1.6;
}
.btn-learn-more i {
  margin-left: 1rem;
}

.btn-contact {
  border-style: none;
  border-radius: 6px;
  font-size: var(--fs-body-s);
  font-weight: var(--fw-semi);
  line-height: 1.6;
  padding: 1em 2em;
}
@media (width >= 768px) {
  .btn-contact {
    display: none;
  }
}

.btn-dl {
  /* Give buttons a higher z-index to make sure they aren't covered
  ** by overflow from position: absolute images */
  z-index: 50;
  background-color: var(--color-bg-dlbtn);
  border-radius: 8px;
  padding: 8px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-default);
}
@media (hover: hover) {
  .btn-dl:hover {
    background-color: var(--color-gray-600);
    color: var(--color-white);
    text-decoration: none;
  }
}

.btn-chevron, .chevron-discovermore {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
/* .btn-chevron::before, .chevron-discovermore::before {
  display: block;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: "\f078";
  text-align: center;
} */

.chevron-discovermore {
  background-color: var(--color-chevronbg);
  color: var(--color-chevronarrow);
  width: 44px;
  height: 44px;
  font-size: 0.75rem;
}

.burger-menu {
  display: grid;
  /* Use template-rows to hide/reveal menu, instead of max-height */
  grid-template-rows: 0fr;
  justify-content: center;
  transition: var(--transition-theme);
}
@media (width >= 1400px) {
  .burger-menu {
    grid-template-rows: 0fr !important;
    box-shadow: unset !important;
    display: none !important;
  }
}
.burger-menu .burger-nav {
  /* Add some padding to make sure there's room for focus border/outline */
  padding-inline: 1rem;
  text-align: center;
  /* Make sure items are hidden when menu is closed */
  overflow: hidden;
}
.burger-menu .burger-nav.reveal-aria {
  display: none;
}
.burger-menu ul {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  list-style: none;
  /* Apply padding to a-elements without imgs (i.e. no buttons) */
}
.burger-menu ul a:not(:has(img)) {
  padding: 1rem;
}

.btn-burger {
  display: flex;
  justify-content: center;
  /* Set width to avoid div changing width when icon is changed */
  width: 1.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--color-burger);
}
@media (width >= 768px) {
  .btn-burger {
    margin-left: 5rem;
  }
}
@media (width >= 1400px) {
  .btn-burger {
    display: none;
  }
}
.btn-burger label {
  /* Add some padding to make it easier to click on touch devices */
  padding: 0.3rem;
}
.btn-burger label:hover {
  cursor: pointer;
}
.btn-burger .burger-menu-close {
  display: none;
}

.jump-to-main {
  display: inline-block;
  padding: 1rem;
  background-color: var(--color-bg);
  border: 1px solid var(--color-primary);
  border-radius: 0 1rem 1rem 0;
  position: absolute;
  left: -100vw;
  top: 5rem;
  transition: var(--transition-default);
}
.jump-to-main:focus {
  left: 0;
}

.dm-toggle-switch {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 24px;
}
.dm-toggle-switch .dmswitchbg {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border-radius: 46px;
  background-color: var(--color-switch-bg);
  transition: var(--transition-theme);
}
.dm-toggle-switch .dmswitchbg::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: var(--transition-theme);
}

.brandlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-brandlogo-border);
  border-radius: 8px;
  width: 160px;
  height: 100px;
  transition: var(--transition-theme);
  /* Add some space between image and border */
}
.brandlogo .brandlogo-img {
  max-width: 85%;
}

.card {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.25rem;
}
.card .card-img-container {
  flex-shrink: 0; /*Prevent flex container from shrinking box below 60x60*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-feature-cards-img-bg);
  border-radius: 8px;
}
.card .cardtext p {
  margin-top: 1rem;
}
.card .cardtext h3 {
  font-size: var(--fs-h5);
}

.review {
  padding: 3rem 1.5rem 1.5rem;
  background-color: var(--color-reviewbg);
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--color-gray-300);
  position: relative;
}
.review .img-quote-icon {
  position: absolute;
  top: -22px;
  left: 16px;
}
.review blockquote img {
  margin-bottom: 1rem;
}
.review blockquote p {
  font-size: var(--fs-body-l);
}
.review .author {
  margin-top: 1.5rem;
  display: flex;
}
.review .author-details {
  margin-left: 1rem;
}
.review .author-details .author-name {
  font-size: var(--fs-body-m);
  font-weight: var(--fw-bold);
  line-height: 1.6;
  color: var(--color-heading);
}
.review .author-details .author-role {
  font-size: var(--fs-body-s);
  line-height: 1.6;
  color: var(--color-reviewrole);
}

.faq-accordion {
  --_faq-border: 1px solid var(--color-faqoutline);
  margin-top: 3.5rem;
  border: var(--_faq-border);
  border-radius: 8px;
}
.faq-accordion details {
  background-color: var(--color-faqbg);
  border-bottom: var(--_faq-border);
  overflow: hidden;
  /* No border on last details-element to prevent double border*/
}
.faq-accordion details:last-child {
  border-bottom: unset;
}
.faq-accordion details[open] {
  padding-bottom: 1rem;
}
.faq-accordion details[open] .answer {
  border-top: var(--_faq-border);
}
.faq-accordion summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-body-m);
  font-weight: var(--fw-semi);
  line-height: 1.3;
  padding: 1rem 1.5rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: var(--transition-default);
  /* Hide default arrow/marker */
  list-style: none;
}
.faq-accordion summary span {
  color: var(--color-heading);
}
@media (hover: hover) {
  .faq-accordion summary:hover {
    background-color: var(--color-faqchevronbg);
  }
}
.faq-accordion summary::-webkit-details-marker {
  display: none;
}
.faq-accordion p {
  padding-inline: 1.5rem;
  font-size: var(--fs-body-s);
  line-height: 1.6;
}
.faq-accordion p:last-child {
  padding-bottom: 1rem;
}
.faq-accordion .chevron-faq {
  background-color: var(--color-faqchevronbg);
  color: var(--color-faqchevronarrow);
  width: 36px;
  height: 36px;
  font-size: 0.625rem;
  /* Set pointer-events none for click to pass through to summary element*/
  pointer-events: none;
  /* Prevent shrunk and skewed chevron buttons */
  flex-shrink: 0;
  /* Add margin to the left of the button equal to parent padding-right */
  margin-left: 1rem;
  /* Transition to smooth out color change and rotation */
  transition: all 0.5s ease;
  /* Add some slight outlining around the chevrons */
  box-shadow: 0 0 4px 0px var(--color-faqoutline);
}
.faq-accordion details[open] .btn-chevron {
  transform: rotate(180deg);
  background-color: var(--color-primary);
  color: var(--color-white);
  /* Change outline color to give it a glowing appearance */
  box-shadow: 0 0 4px 0px var(--color-primary);
}

.subscribe {
  margin-top: 2.5rem;
  padding: 3rem 1rem 0;
  background-color: var(--color-subscribebg);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
@media (width >= 768px) {
  .subscribe {
    margin-top: 2rem;
    padding: 3rem 1rem;
    flex-direction: row;
  }
}
@media (width >= 1400px) {
  .subscribe {
    grid-area: subscribe;
    margin-top: 6rem;
    padding: 4rem 6rem;
  }
}
.subscribe .cta {
  display: flex;
  align-items: center;
}
@media (width >= 768px) {
  .subscribe .cta {
    flex-basis: 50%;
    justify-content: center;
    margin-right: 3rem;
  }
}
.subscribe .cta h2 {
  font-size: 1.375rem;
  line-height: 1.35;
}
.subscribe .cta h2.desktop-text {
  display: none;
}
@media (width >= 1400px) {
  .subscribe .cta h2.desktop-text {
    display: block;
  }
}
@media (width >= 1400px) {
  .subscribe .cta h2 {
    display: none;
  }
}
.subscribe .cta img {
  margin-right: 1rem;
}
@media (width >= 768px) {
  .subscribe .cta img {
    margin-right: 2rem;
  }
}
@media (width >= 768px) {
  .subscribe .email-form {
    flex-basis: 50%;
  }
}
.subscribe .input-container {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
}
.subscribe .input-container * {
  border: none;
}
.subscribe .input-container input {
  font-size: 1rem;
  padding: 0 1rem 0 2.75rem;
  /* Subtract padding from width, else it causes grid to overflow */
  width: calc(100% - 2.75rem);
  border-radius: 8px 0 0 8px;
  border: 1px solid var(--color-gray-400);
  color: var(--color-subscribetext);
}
.subscribe .input-container input:focus {
  outline-offset: -0.4em;
}
.subscribe .input-container input::-moz-placeholder {
  color: var(--color-gray-500);
}
.subscribe .input-container input::placeholder {
  color: var(--color-gray-500);
}
.subscribe .input-container .mail-icon {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
}
.subscribe .input-container .btn-subscribe {
  border-radius: 0 8px 8px 0;
  font-size: 1rem;
  line-height: 1.625;
  font-weight: var(--fw-semi);
}

:root {
  --transition-default: all .25s;
  --transition-theme: all .5s ease;
  /* Default theme - white/light */
  --color-bg: var(--color-bg-white);
  --color-navlink: var(--color-navlink-whitebg);
  --color-burger: var(--color-gray-800);
  --color-heading: var(--color-heading-whitebg);
  --color-paragraph: var(--color-paragraph-whitebg);
  --color-switch-bg: var(--color-gray-600);
  --color-bg-dlbtn: var(--color-bg-dlbtn-whitebg);
  --color-chevronbg: var(--color-chevronbg-whitebg);
  --color-chevronarrow: var(--color-chevronarrow-whitebg);
  --color-brandlogo-border: var(--color-brandlogo-border-whitebg);
  --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgwhite);
  --color-how-bg: var(--color-how-bg-white);
  --color-reviewsbg: var(--color-reviewsbg-whitebg);
  --color-reviewbg: var(--color-reviewbg-whitebg);
  --color-reviewrole: var(--color-reviewrole-whitebg);
  --color-faqbg: var(--color-faqbg-whitebg);
  --color-faqoutline: var(--color-faqoutline-whitebg);
  --color-faqchevronbg: var(--color-faqchevronbg-whitebg);
  --color-faqchevronarrow: var(--color-faqchevronarrow-whitebg);
  --color-subscribebg: var(--color-subscribebg-whitebg);
  --color-subscribetext: var(--color-paragraph-whitebg);
}

/* Darkmode toggle-switch stuff */
/* In preferred-color-scheme light, hide darkbg label & box */
#label-darkmode-switch-lightbg {
  display: flex;
}

#label-darkmode-switch-darkbg {
  display: none;
}

#darkmode-switch-whitebg {
  display: block;
}

#darkmode-switch-darkbg {
  display: none;
}

/* Disable to show debug text for dm checkbox labels */
.dm-chbox-hidden {
  display: none;
}

@media (prefers-color-scheme: light) {
  body:has(#darkmode-switch-whitebg:checked) .themewrapper {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-dlbtn: var(--color-bg-dlbtn-darkbg);
    --color-chevronbg: var(--color-chevronbg-darkbg);
    --color-chevronarrow: var(--color-chevronarrow-darkbg);
    --color-brandlogo-border: var(--color-brandlogo-border-darkbg);
    --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgdark);
    --color-how-bg: var(--color-how-bg-dark);
    --color-reviewsbg: var(--color-reviewsbg-darkbg);
    --color-reviewbg: var(--color-reviewbg-darkbg);
    --color-reviewrole: var(--color-reviewrole-darkbg);
    --color-faqbg: var(--color-faqbg-darkbg-mobile);
    --color-faqoutline: var(--color-faqoutline-darkbg);
    --color-faqchevronbg: var(--color-faqchevronbg-darkbg);
    --color-faqchevronarrow: var(--color-faqchevronarrow-darkbg);
    --color-subscribebg: var(--color-subscribebg-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);
    /* Swap to light-texted logo */
    /* Set darkmode switch to active position */
    /* In width 768px+ and darkmode, remove shadow from FAQ
    **  and apply border on open details elements*/
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .logo-img {
    content: url("/assets/images/logo-bgdark.svg");
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper section#hero {
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgb(19, 16, 34) 100%);
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .hero-container .pitch {
    color: var(--color-white);
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .review {
    box-shadow: unset;
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .chevron-dn-img {
    content: url("/assets/icons/chevron-dn-dark.svg");
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .btn-apple-img {
    content: url("/assets/images/appstorebadges/appstore-dark.svg");
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .btn-google-img {
    content: url("/assets/images/appstorebadges/googleplay-dark.svg");
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .dmswitchbg::before {
    transform: translateX(20px);
  }
}
@media (prefers-color-scheme: light) and (768px <= width) {
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .features-container .brandlogo {
    background-color: var(--color-brandlogo-bg-darkbg-tablet);
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .faq-accordion details {
    box-shadow: none;
    background-color: var(--color-faqbg-darkbg);
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .faq-accordion details[open] {
    border: 1px solid #383A43;
  }
}
@media (prefers-color-scheme: light) and (1400px <= width) {
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .features-container .brandlogo {
    background-color: var(--color-brandlogo-bg-darkbg-desktop);
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .features-container .card-img-container {
    background-color: #12162A;
  }
  body:has(#darkmode-switch-whitebg:checked) .themewrapper .subscribe input {
    background-color: #191D27;
    color: var(--color-paragraph-darkbg);
    border-color: #42464D;
  }
}
@media (prefers-color-scheme: dark) {
  body:has(#darkmode-switch-darkbg:checked) .themewrapper {
    --color-bg: var(--color-bg-dark);
    --color-navlink: var(--color-navlink-darkbg);
    --color-burger: var(--color-white);
    --color-heading: var(--color-heading-darkbg);
    --color-paragraph: var(--color-paragraph-darkbg);
    --color-bg-dlbtn: var(--color-bg-dlbtn-darkbg);
    --color-chevronbg: var(--color-chevronbg-darkbg);
    --color-chevronarrow: var(--color-chevronarrow-darkbg);
    --color-brandlogo-border: var(--color-brandlogo-border-darkbg);
    --color-feature-cards-img-bg: var(--color-feature-cards-img-bg-bgdark);
    --color-how-bg: var(--color-how-bg-dark);
    --color-reviewsbg: var(--color-reviewsbg-darkbg);
    --color-reviewbg: var(--color-reviewbg-darkbg);
    --color-reviewrole: var(--color-reviewrole-darkbg);
    --color-faqbg: var(--color-faqbg-darkbg-mobile);
    --color-faqoutline: var(--color-faqoutline-darkbg);
    --color-faqchevronbg: var(--color-faqchevronbg-darkbg);
    --color-faqchevronarrow: var(--color-faqchevronarrow-darkbg);
    --color-subscribebg: var(--color-subscribebg-darkbg);
    /* Change themeswitch-bg to active color */
    --color-switch-bg: var(--color-primary);
    /* Swap to light-texted logo */
    /* Set darkmode switch to active position */
    /* In width 768px+ and darkmode, remove shadow from FAQ
    **  and apply border on open details elements*/
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .logo-img {
    content: url("/assets/images/logo-bgdark.svg");
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper section#hero {
    background: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 50%, rgb(19, 16, 34) 100%);
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .hero-container .pitch {
    color: var(--color-white);
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .review {
    box-shadow: unset;
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .chevron-dn-img {
    content: url("/assets/icons/chevron-dn-dark.svg");
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .btn-apple-img {
    content: url("/assets/images/appstorebadges/appstore-dark.svg");
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .btn-google-img {
    content: url("/assets/images/appstorebadges/googleplay-dark.svg");
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .dmswitchbg::before {
    transform: translateX(20px);
  }
  /* In preferred scheme dark, display pre-checked darkbg checkbox and label
  and hide unchecked whitebg checkbox */
}
@media (prefers-color-scheme: dark) and (768px <= width) {
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .features-container .brandlogo {
    background-color: var(--color-brandlogo-bg-darkbg-tablet);
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .faq-accordion details {
    box-shadow: none;
    background-color: var(--color-faqbg-darkbg);
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .faq-accordion details[open] {
    border: 1px solid #383A43;
  }
}
@media (prefers-color-scheme: dark) and (1400px <= width) {
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .features-container .brandlogo {
    background-color: var(--color-brandlogo-bg-darkbg-desktop);
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .features-container .card-img-container {
    background-color: #12162A;
  }
  body:has(#darkmode-switch-darkbg:checked) .themewrapper .subscribe input {
    background-color: #191D27;
    color: var(--color-paragraph-darkbg);
    border-color: #42464D;
  }
}
@media (prefers-color-scheme: dark) {
  #label-darkmode-switch-darkbg {
    display: flex;
  }
  #label-darkmode-switch-whitebg {
    display: none;
  }
  #darkmode-switch-darkbg {
    display: block;
  }
  #darkmode-switch-whitebg {
    display: none;
  }
}